---

---

<div class="bg-white px-6 py-16 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-red-700">Das Spiel</p>
    <h1
      class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      Was ist Backstein?
    </h1>
    <p class="mt-6 text-xl leading-8">
      Backstein ist eines der ältesten Spiele der Welt.
    </p>
    <div class="mt-10 max-w-2xl">
      <p>
        Es handelt sich um eine Mischung aus Strategie- und Glücksspiel, bei dem
        zwei oder mehr Spieler abwechselnd den Backstein auf einem Spielbrett
        (der Arena) bewegen. Ziel des Spiels ist es, den Gegner dumm dastehen zu
        lassen, das heißt, dessen Backstein so anzugreifen, dass der eigene
        Backstein noch dümmer dasteht.
      </p>
      <p class="mt-10">
        Backstein ist weltweit bekannt und hat eine tiefe kulturelle Bedeutung
        erlangt. Viele Backsteinspieler sind Mitglieder von Backsteinvereinen.
        Backsteinturniere werden von privaten Veranstaltern, von
        Backsteinvereinen oder von Backsteinverbänden organisiert. Backstein
        gilt als Sportart. Derzeitiger Backsteinweltmeister ist Thomas Leguano
        aus Österreich.
      </p>
    </div>
  </div>
</div>
